<?xml version="1.0"?>
<ruleset name="Snippet Converter for Perfmatters">
	<description>PHP compatibility lint for Snippet Converter for Perfmatters.</description>

	<file>snippet-converter-for-perfmatters.php</file>
	<file>src</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg value="ps"/>
	<arg name="colors"/>
	<arg name="parallel" value="8"/>

	<ini name="memory_limit" value="256M"/>

	<rule ref="PHPCompatibilityWP"/>
	<config name="testVersion" value="8.1-"/>
</ruleset>
