parameters:
  level: 6
  paths:
    - snippet-converter-for-perfmatters.php
    - src
  treatPhpDocTypesAsCertain: false
  bootstrapFiles:
    - phpstan-bootstrap.php
  excludePaths:
    analyse:
      - vendor
      - tests
